<%- include('./partials/header.ejs') %>

<img
  src="https://export-download.canva.com/TUKpw/DAGOPYTUKpw/71/0/0001-1904335946013516387.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJHKNGJLC2J7OGJ6Q%2F20240831%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240831T023521Z&X-Amz-Expires=68419&X-Amz-Signature=d07917aea15c0d43e653ac9116e515c5ee1d129a9fb77127a9326decca4fe91a&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27PartyUp.png&response-expires=Sat%2C%2031%20Aug%202024%2021%3A35%3A40%20GMT"
  alt=""
/>

<h2>Discuss your favorite games with other gamers!</h2>

<%- include('./partials/footer.ejs') %>
