<%- include('./partials/header.ejs') %>

<div class="game-container">
  <section class="portal2">
    <img
      src="https://cdn2.steamgriddb.com/grid/9ebc0e97da8e0e5083fea7203f194d2b.png"
      alt="Portal 2 Cover Art"
      class="portal2-image"
    />
  </section>

  <section class="chainedtogether">
    <img
      src="https://cdn2.steamgriddb.com/grid/2a0c42d296cf1c678179d4731694e667.png"
      alt="Chained Together Cover Art"
      class="chainedtogether-image"
    />
  </section>

  <section class="eldenring">
    <img
      src="https://cdn2.steamgriddb.com/grid/a0abf0396a718b8982fce0b80181d8cb.png"
      alt="Elden Ring Cover Art"
      class="eldenring-image"
    />
  </section>

  <section class="ittakestwo">
    <img
      src="https://cdn2.steamgriddb.com/grid/84d8df6932e202152767f7579f32c613.png"
      alt="It Takes Two Cover Art"
      class="ittakestwo-image"
    />
  </section>

  <section class="tonyhawkproskater">
    <img src="https://cdn2.steamgriddb.com/grid/dcd688a2201680e19cf948b319505882.png" alt="Tony Hawk's Pro Skater Cover Art" class="tonyhawkproskater-image"/>
  </section>
</div>

<%- include('./partials/footer.ejs') %>
