<%- include('./partials/header.ejs') %>

<img
  src="https://export-download.canva.com/TUKpw/DAGOPYTUKpw/71/0/0001-5264021555611485371.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJHKNGJLC2J7OGJ6Q%2F20240903%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240903T093405Z&X-Amz-Expires=28137&X-Amz-Signature=a5d8556fb5223ec7b9daa8ee753148775815e26bf3849339290d59445dfe398b&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27PartyUp.png&response-expires=Tue%2C%2003%20Sep%202024%2017%3A23%3A02%20GMT"
  alt=""
/>

<h2>Discuss your favorite games with other gamers!</h2>

<%- include('./partials/footer.ejs') %>
