* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 8vh 1fr 4vh;
  background-color: rgb(5, 6, 7);
}

h2, p {
  color: white;
}

nav,
footer {
  background-color: rgb(72, 104, 44);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vmin;
  font-size: 2vh;
  color: whitesmoke;
}

nav a {
  text-decoration: none;
  color: slategray;
  background-color: white;
  padding: 1vmin;
  border-radius: 1vmin;
  &:hover {
    color: gray;
    background-color: lightslategray;
    color: white;
  }
}

nav span {
  font-size: 1.5vmin;
  color: whitesmoke;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vmin;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vmin;
}

form * {
  font-size: 2vmin;
  padding: 1vmin;
  border-radius: 1vmin;
  margin: 1vmin 1vmin;
}

button:hover {
  background-color: lightslategray;
  color: white;
}

.game-container {
  display: flex;
  column-gap: 5vmin;
  margin-left: 2vmin;
  margin-right: 2vmin;
}

.link-container {
  display: flex;
  column-gap: 27vmin;
}

.hero {
  position: relative;
  height: 38.8vh;
  background: no-repeat center center/cover;
  color: #fff;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
}

.comments {
  margin-top: 5vmin;
}

.comments-display {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#delete-btn {
  top: 10px;
  right: 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

