<%- include('../partials/header.ejs') %>

<header class="hero">
  <div class="hero-content">
    <img src="https://cdn2.steamgriddb.com/hero/f341ad082c0761d21aa3b7ed8cd268a9.png" alt="Chained Together Hero Image">
  </div>
</header>

<div class="comments">
  <form action="/games/gameCollection/chainedTogether" method="POST">
    <textarea name="content"> </textarea>
    <button type="submit">Comment</button>
  </form>

  <section class="comments-display">
    <% owner.comments.forEach((comment) => { %>
    <p><%= owner.username %> says:</p>
    <p><%= comment.content %></p>
    <% }); %>
  </section>
</div>
<%- include('../partials/footer.ejs') %>
